<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hyphenate.easeim">

    <application
        android:allowBackup="true"
        android:icon="@drawable/em_logo_uidemo"
        android:label="@string/em_app_name"
        android:roundIcon="@drawable/em_logo_uidemo"
        android:supportsRtl="true"
        android:usesNonSdkApi="true"
        android:requestLegacyExternalStorage="false"
        android:usesCleartextTraffic="true"
        android:name=".DemoApplication"
        android:theme="@style/AdminTheme">

        <!--启动页-->
        <activity
            android:name=".ChooseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar.SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity android:name=".login.activity.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="3ecea51f560650b1ed8a4b99808f52e8" />
        <!-- 设置环信应用的AppKey -->
        <meta-data android:name="EASEMOB_APPKEY"  android:value="1100220704109048#arcfox-server" />

        <!-- 适配Android 7.0 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:grantUriPermissions="true"
            android:exported="false"
            tools:replace="android:authorities"
            >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                tools:replace="android:resource" />
        </provider>

    </application>

</manifest>